.radio-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .radio-group label {
    margin-bottom: 10px;
  }
  
  .radio-group input[type='radio'] {
    margin-right: 5px;
  }

  .select-wrapper {
    position: relative;
    max-width: 322px;
  }
  
  .select-wrapper select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Media Query para dispositivos móveis */
  @media (max-width: 767px) {
    .radio-group {
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .radio-group label {
      margin-right: 10px;
    }
    .select-wrapper select {
      font-size: 14px;
    }
  }